.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
                       url("https://drive.google.com/thumbnail?id=1YwCffwprhfQk2ydBg_WtvY1i6SI8COBL");
    background-position: center;
    background-size: cover;
    position: relative;

}

.text1
{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text1 h1
{
    font-size: 150px;
}
.text1 p
{
    font-size: 30px;
}

.row
{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.ach-pics img
{
    width: 250px;
}

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

 #img_img img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
