
/*table CSS*/

.table>:not(caption)>*>* {
    padding: 1.5rem 0.5rem;
}
.table-bordered>:not(caption)>*>* {
    border-width: 1px;
}
/*table with pager css*/
table.dataTable tbody th, table.dataTable tbody td {
    padding: 19px 8px;
}
/*image css*/
.img{
    width:100%;
    height:100%;
}
