@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.anime
{
    margin: 60px;
}
body
{
    background: #000;
    min-height: 200vh;
}

/*navigation bar*/
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}
header.sticky
{
    padding: 5px 100px;
    background: #fff;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(bg.jpg);
    background-size: cover;
}
header.sticky .logo,
header.sticky ul li a
{
    color: #000;
}
/* Top leaves animation*/
section
{
    position: relative;
    width: 100%;
    height: 40vh;
    top: 40px;
    background: radial-gradient(#333,#000);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section h2
{
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
}
section .set
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    Left: 0;
    pointer-events: none;
}
section .set div
{
    position: absolute;
    display: block;
}
section .set div:nth-child(1)
{
    Left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
section .set div:nth-child(2)
{
    Left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
section .set div:nth-child(3)
{
    Left: 70%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}
section .set div:nth-child(4)
{
    Left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
section .set div:nth-child(5)
{
    Left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}
section .set div:nth-child(6)
{
    Left: 0%;
    animation: animate 12s linear infinite;
}
section .set div:nth-child(7)
{
    Left: 15%;
    animation: animate 14s linear infinite;
}
section .set div:nth-child(8)
{
    Left: 60%;
    animation: animate 15s linear infinite;
}
@keyframes animate 
{
    0%
    {
        opacity: 0;
        top: -10%;
        transform: translateX(10px) rotate(0deg);
    }
    10%
    {
        opacity: 1;
    }
    20%
    {
        transform: translateX(-20px) rotate(45deg);
    }
    40%
    {
        transform: translateX(-20px) rotate(90deg);
    }
    60%
    {
        transform: translateX(20px) rotate(180deg);
    }
    80%
    {
        transform: translateX(-20px) rotate(180deg);
    }
    100%
    {
        top: 110%;
        transform: translateX(-20px) rotate(255deg);
    }
}
.set2
{
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
}
